$recipe-title-color: hsl(24, 5%, 18%);
$recipe-subtitle-dark-raspberry-color: hsl(332, 51%, 32%);
$recipe-subtitle-dark-brandy-red: hsl(14, 45%, 36%);
$recipe-paragraph-color: hsl(30, 10%, 34%);
$recipe-preparation-time-background-color: hsl(330, 100%, 98%);
$recipe-preparation-time-list-item-dot-color: hsl(332, 51%, 32%);
$recipe-ingredients-background-color: transparent;
$recipe-ingredients-list-item-dot-color: hsl(14, 45%, 36%);
$recipe-instructions-background-color: transparent;
$recipe-instructions-list-item-numbers-color: hsl(14, 45%, 36%);
$recipe-nutrition-background-color: transparent;
$recipe-nutrition-table-row-background-color: transparent;
$recipe-nutrition-table-row-border-color: hsl(30, 18%, 87%);
$recipe-divider-background-color: hsl(30, 18%, 87%);

.recipe {
	background-color: hsl(0, 0%, 100%);
	max-width: 73.6rem;
	border-radius: 2.4rem;
	padding: 4rem 4rem 2.9rem 4rem;
}

.recipe__title {
	font-family: Young Serif, serif;
	font-weight: 400;
	font-size: 4rem;
	letter-spacing: 0;
	color: $recipe-title-color;
}

.recipe__title_margin-bottom_16px {
	margin: 0 0 1.6rem 0;
}

.recipe__subtitle {
	letter-spacing: 0;
}

.recipe__subtitle_style_dark-raspberry {
	font-family: Outfit, serif;
	font-weight: 600;
	font-size: 2rem;
	color: $recipe-subtitle-dark-raspberry-color;
}

.recipe__subtitle_style_brandy-red {
	font-family: Young Serif, serif;
	font-weight: 400;
	font-size: 2.8rem;
	color: $recipe-subtitle-dark-brandy-red;
}

.recipe__subtitle_margin-bottom_14px {
	margin: 0 0 1.4rem 0;
}

.recipe__subtitle_margin-bottom_17px {
	margin: 0 0 1.7rem 0;
}

.recipe__paragraph {
	font-family: Outfit, serif;
	font-weight: 400;
	font-size: 1.6rem;
	letter-spacing: 0;
	color: $recipe-paragraph-color;
}

.recipe__paragraph_margin-bottom_32px {
	margin: 0 0 3.2rem 0;
}

.recipe__paragraph_margin_0px {
	margin: 0 0 0 0;
}

.recipe__paragraph_margin-bottom_12px {
	margin: 0 0 1.2rem 0;
}

.recipe__paragraph_weight_700 {
	font-family: Outfit, serif;
	font-weight: 700;
	margin-right: 0.5rem;
}

.recipe__paragraph_color_brandy-red {
	color: hsl(14, 45%, 36%);
}

.recipe__paragraph_color_wenge-brown {
	color: hsl(30, 10%, 34%);
}

.recipe__paragraph_display_inline {
	display: inline;
}

.recipe__image {
	width: 100%;
	height: 30rem;
	object-fit: cover;
	border-radius: 1.2rem;
	margin-bottom: 3.2rem;
}

.recipe__preparation-time {
	background-color: $recipe-preparation-time-background-color;
	width: 100%;
	border-radius: 1.2rem;
	padding: 2.5rem 2.8rem 2rem 2.8rem;
	margin: 0 0 2.7rem 0;
}

.recipe__preparation-time-list {
	margin: 0 0;
	padding: 0 0 0 0.8rem;
}

.recipe__preparation-time-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.8rem;

	&::before {
		content: "";
		border-radius: 50%;
		display: block;
		background-color: $recipe-preparation-time-list-item-dot-color;
		width: 0.4rem;
		height: 0.4rem;
		margin-right: 2.8rem;
	}
}

.recipe__ingredients {
	width: 100%;
	background-color: $recipe-ingredients-background-color;
	margin: 0 0 2.35rem 0;
}

.recipe__ingredients-list {
	margin: 0 0;
	padding: 0 0 0 0.8rem;
}

.recipe__ingredients-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 0 0.8rem 0;

	&::before {
		content: "";
		display: block;
		width: 0.4rem;
		height: 0.4rem;
		border-radius: 50%;
		background-color: $recipe-ingredients-list-item-dot-color;
		margin-right: 2.8rem;
	}
}

.recipe__instructions {
	width: 100%;
	background-color: $recipe-instructions-background-color;
	margin-bottom: 2.5rem;
}

.recipe__instructions-list {
	margin: 0 0;
	padding: 0 0 0 2.5rem;
}

.recipe__instructions-list-item {
	margin-bottom: 0.8rem;
	padding-left: 2.1rem;

	&::marker {
		font-family: Outfit, serif;
		display: block;
		font-weight: 700;
		font-size: 1.6rem;
		letter-spacing: 0;
		color: $recipe-instructions-list-item-numbers-color;
	}
}

.recipe__nutrition {
	width: 100%;
	background-color: $recipe-nutrition-background-color;
}

.recipe__nutrition-table {
	border-collapse: collapse;
	margin-left: 3.2rem;
}

.recipe__nutrition-table-body {
	position: relative;
}

.recipe__nutrition-table-row {
	background-color: $recipe-nutrition-table-row-background-color;
	border-bottom: 0.1rem solid $recipe-nutrition-table-row-border-color;

	&:last-child {
		border-bottom: none;
	}
}

.recipe__nutrition-table-row-name {
	padding-top: 1.2rem;
	padding-bottom: 1.1rem;
	width: 30.4rem;
}

.recipe__nutrition-table-row-value {
	padding-top: 1.2rem;
	padding-bottom: 1.1rem;
	width: 32rem;
}

.recipe__divider {
	width: 100%;
	height: 0.1rem;
	background-color: $recipe-divider-background-color;
	margin: 0 0 2.65rem 0;
}